{% extends 'index.html' %} {% load static %} {% block detail %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div
        class="Card2"
        style="
          width: 100%;
          height: 100%;
          padding: 20px;
          border-radius: 5px;
          flex-direction: column;
          align-items: center;
          gap: 18px;
          display: inline-flex;
        "
      >
        <div
          class="CardHeader"
          style="
            padding: 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: flex;
          "
        >
          <div
            class="SelamatTahunBaruIslam1Muharram1445H"
            style="
              width: 676px;
              color: black;
              font-size: 30px;
              font-family: Inter;
              font-weight: 800;
              word-wrap: break-word;
            "
          >
            Selamat Tahun Baru Islam 1 Muharram 1445 H
          </div>
          <img
            class="Muharam1445h1"
            style="width: 676px; height: 380px"
            src="{%static 'img/download(1).jpeg' %}"
          />
        </div>
        <div
          class="CardBody"
          style="
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            display: flex;
          "
        >
          <div
            class="SemogaDiTahunIniKitaDapatSenantiasaMeningkatkanKeimananDanKetakwaanKepadaAllahSwt"
            style="
              width: 675px;
              color: black;
              font-size: 20px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Berdasarkan buku Misteri Bulan Suro: Perspektif Islam Jawa oleh
            Muhammad Sholikhin, sari segi bahasa, Muharam bermakna 'yang
            disucikan', 'yang dimuliakan', 'yang tidak dibolehkan', dan 'tidak
            boleh disentuh'.Ini seperti yang disebutkan Rasulullah dalam salah
            satu hadis. Dari Abu Bakrah RA, Nabi SAW pernah
            bersabda,"Sesungguhnya zaman berputar sebagai mana ketika Allah
            menciptakan langit dan bumi. Satu tahun ada dua belas bulan. Di
            antaranya ada empat bulan haram (suci), tiga bulan berurutan:
            Zulkaidah, Zulhijah, dan Muharam, kemudian bulan Rajab suku Mudhar,
            antara Jumadi Tsani dan Syakban." (HR. Al Bukhari dan Muslim).Karena
            predikatnya sebagai salah satu bulan suci, segala bentuk peperangan
            ataupun pertumpahan darah dilarang selama Muharam. Selain itu,
            dikatakan oleh Ibnu Abbas, dosa dari perbuatan maksiat selama bulan
            haram akan menjadi lebih besar.Namun, Muharam lebih dari itu. Makna
            maupun hikmah yang dapat diambil dari Muharam adalah perihal
            perubahan.Sebagai bulan pertama di penanggalan Hijriah, Muharam
            membuka lembaran baru dalam kehidupan. Sudah sepatutnya kita
            menjadikannya sebagai momentum untuk memperbaiki dan meningkatkan
            diri menjadi lebih baik lagi.Apabila selama ini kita masih
            terjerembap dalam kemaksiatan, maka sudah saatnya untuk
            meninggalkannya agar dapat menjadi pribadi lebih baik lagi hingga
            penghujung tahun
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- card-1 -->
      <div
        class="Card"
        style="
          width: 100%;
          height: auto;
          justify-content: flex-start;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          class="CardHeader"
          style="
            width: 296px;
            padding: 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <img
            class="Muharam1445h2"
            style="width: 269px; height: 151px; border-radius: 15px"
            src="{%static 'img/download(1).jpeg' %}"
          />
        </div>
        <div
          class="CardBody"
          style="
            width: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            display: inline-flex;
          "
        >
          <h3
            class="Sela"
            style="
              color: black;
              font-size: 16px;
              font-family: Inter;
              font-weight: 800;
            "
          >
            Selamat Tahun Baru Islam 1 Muharram 1445 H
          </h3>
        </div>
      </div>
      <!-- card 2 -->
      <div
        class="Card"
        style="
          width: 100%;
          height: auto;
          justify-content: flex-start;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          class="CardHeader"
          style="
            width: 296px;
            padding: 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <a href="/detail">
            <img
              class="Muharam1445h2"
              style="width: 269px; height: 151px; border-radius: 15px"
              src="{%static 'img/download(1).jpeg' %}"
            />
          </a>
        </div>
        <div
          class="CardBody"
          style="
            width: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            display: inline-flex;
          "
        >
          <h3
            class="Sela"
            style="
              color: black;
              font-size: 16px;
              font-family: Inter;
              font-weight: 800;
            "
          >
            Selamat Tahun Baru Islam 1 Muharram 1445 H
          </h3>
        </div>
      </div>
      <!-- Card 3 -->
      <div
        class="Card"
        style="
          width: 100%;
          height: auto;
          justify-content: flex-start;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          class="CardHeader"
          style="
            width: 296px;
            padding: 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <img
            class="Muharam1445h2"
            style="width: 269px; height: 151px; border-radius: 15px"
            src="{%static 'img/download(1).jpeg' %}"
          />
        </div>
        <div
          class="CardBody"
          style="
            width: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            display: inline-flex;
          "
        >
          <h3
            class="Sela"
            style="
              color: black;
              font-size: 16px;
              font-family: Inter;
              font-weight: 800;
            "
          >
            Selamat Tahun Baru Islam 1 Muharram 1445 H
          </h3>
        </div>
      </div>
      <div
        class="Card"
        style="
          width: 100%;
          height: auto;
          justify-content: flex-start;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          class="CardHeader"
          style="
            width: 296px;
            padding: 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <img
            class="Muharam1445h2"
            style="width: 269px; height: 151px; border-radius: 15px"
            src="{%static 'img/download(1).jpeg' %}"
          />
        </div>
        <div
          class="CardBody"
          style="
            width: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            display: inline-flex;
          "
        >
          <h3
            class="Sela"
            style="
              color: black;
              font-size: 16px;
              font-family: Inter;
              font-weight: 800;
            "
          >
            Selamat Tahun Baru Islam 1 Muharram 1445 H
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
