{% extends 'index.html' %}

{% load static %}

{% block galeri %}
<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="text-primary mb-6">Gallery</h1>
        <p class="mb-5">disini adalah dokumentasi dari seluruh kegiatan MUI Batu</p>
    </div>
    <div class="row g-4">
        <div class="col-md-6 col-lg-4 wow fadeIn" >
            <div class="blog-item border h-100 p-4">
                <img class="img-fluid mb-4" src="{% static 'img/portfolio/mui/2.jpg' %}" alt="">
                <h5 href="" class="h5 lh-base d-inline-block">Foods that are good for your hair growing</h5>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeIn">
            <div class="blog-item border h-100 p-4">
                <img class="img-fluid mb-4" src="{% static 'img/portfolio/mui/3.jpg' %}" alt="">
                <h5 href="" class="h5 lh-base d-inline-block">How to take care of hair naturally</h5>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeIn">
            <div class="blog-item border h-100 p-4">
                <img class="img-fluid mb-4" src="{% static 'img/portfolio/mui/4.jpg' %}" alt="">
                <h5 href="" class="h5 lh-base d-inline-block">How to use our natural & organic shampoo</h5>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat.</p>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Blog End -->

{% endblock %}