{% extends 'index.html' %}

{% load static %}

{% block galeri %}
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Our Gallery</h2>
        <p>Berikut adalah beberapa dokumentasi dari kegiatan kami :</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Tour</li>
            <li data-filter=".filter-card">Event</li>
            <li data-filter=".filter-web">Talent Agent</li>
            <li data-filter=".filter-flyer">Flyer</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <!-- Card Tour-->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="static/img/portfolio/tour/jogja/TOUR YOGYA.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tour</h4>
            <p>Yogyakarta</p>
            <a href="static/img/portfolio/tour/jogja/Candi Prambanan.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="static/img/portfolio/tour/labuan bajo/TOUR LABUAN BAJO.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tour</h4>
            <p>Labuan Bajo</p>
            <a href="static/img/portfolio/Tour/labuan bajo/Labuan Bajo.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="static/img/portfolio/Tour/bali/BALI.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tour</h4>
            <p>Bali</p>
            <a href="static/img/portfolio/tour/bali/20-Tempat-Wisata-Untuk-Dikunjungi-Bali-Facebook.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="static/img/portfolio/tour/bromo/TOUR BROMO.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tour</h4>
            <p>Bromo</p>
            <a href="static/img/portfolio/tour/bromo/bromo.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 4"><i class="bx bx-plus"></i></a>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="static/img/portfolio/tour/banyuwangi/TOUR BANYUWANGI.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tour</h4>
            <p>Banyuwangi</p>
            <a href="static/img/portfolio/tour/banyuwangi/gunung-ijen.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 5"><i class="bx bx-plus"></i></a>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="static/img/portfolio/tour/semarang/TOUR SEMARANG.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Tour</h4>
            <p>Semarang</p>
            <a href="static/img/portfolio/tour/semarang/wisata-semarang-1021x580.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 5"><i class="bx bx-plus"></i></a>
            </a>
          </div>
        </div>
       <!-- end Card Tour -->
      </div>
    </div>
  </section>

{% endblock %}