{% extends 'index.html' %}

{% load static %}

{% block galeri %}
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Our Gallery</h2>
      <p>Berikut adalah beberapa dokumentasi dari kegiatan kami :</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Tour</li>
          <li data-filter=".filter-card">Event</li>
          <li data-filter=".filter-web">Talent Agent</li>
          <li data-filter=".filter-flyer">Flyer</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
      <!-- Card Tour-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/tour/jogja/TOUR YOGYA.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Tour</h4>
          <p>Yogyakarta</p>
          <a href="assets/img/portfolio/tour/jogja/Candi Prambanan.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/tour/labuan bajo/TOUR LABUAN BAJO.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Tour</h4>
          <p>Labuan Bajo</p>
          <a href="assets/img/portfolio/Tour/labuan bajo/Labuan Bajo.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/Tour/bali/BALI.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Tour</h4>
          <p>Bali</p>
          <a href="assets/img/portfolio/tour/bali/20-Tempat-Wisata-Untuk-Dikunjungi-Bali-Facebook.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/tour/bromo/TOUR BROMO.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Tour</h4>
          <p>Bromo</p>
          <a href="assets/img/portfolio/tour/bromo/bromo.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 4"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/tour/banyuwangi/TOUR BANYUWANGI.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Tour</h4>
          <p>Banyuwangi</p>
          <a href="assets/img/portfolio/tour/banyuwangi/gunung-ijen.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 5"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/tour/semarang/TOUR SEMARANG.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Tour</h4>
          <p>Semarang</p>
          <a href="assets/img/portfolio/tour/semarang/wisata-semarang-1021x580.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 5"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <!-- end Card Tour -->

      <!-- Flayer -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-flyer">
        <img src="assets/img/portfolio/Flyer/9.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Flyer</h4>
          <p>Flyer</p>
          <a href="assets/img/portfolio/Flyer/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Flyer 8"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-flyer">
        <img src="assets/img/portfolio/Flyer/1.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Flyer</h4>
          <p>Flyer</p>
          <a href="assets/img/portfolio/Flyer/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Flyer 1"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-flyer">
        <img src="assets/img/portfolio/Flyer/2.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Flyer</h4>
          <p>Flyer</p>
          <a href="assets/img/portfolio/Flyer/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Flyer 1"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-flyer">
        <img src="assets/img/portfolio/Flyer/3.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Flyer</h4>
          <p>Flyer</p>
          <a href="assets/img/portfolio/Flyer/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Flyer 1"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-flyer">
        <img src="assets/img/portfolio/Flyer/4.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Flyer</h4>
          <p>Flyer</p>
          <a href="assets/img/portfolio/Flyer/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Flyer 1"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-flyer">
        <img src="assets/img/portfolio/Flyer/7.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Flyer</h4>
          <p>Flyer</p>
          <a href="assets/img/portfolio/Flyer/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Flyer 6"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <!-- end flayer -->

      <!-- talent agent -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/TalentAgent/1.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Talent Agent</h4>
          <p>Talent Agent</p>
          <a href="assets/img/portfolio/TalentAgent/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/TalentAgent/2.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Talent Agent</h4>
          <p>Talent Agent</p>
          <a href="assets/img/portfolio/TalentAgent/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/TalentAgent/3.JPG" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Talent Agent</h4>
          <p>Talent Agent</p>
          <a href="assets/img/portfolio/TalentAgent/3.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/TalentAgent/5.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Talent Agent</h4>
          <p>Talent Agent</p>
          <a href="assets/img/portfolio/TalentAgent/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 4"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/TalentAgent/7.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Talent Agent</h4>
          <p>Talent Agent</p>
          <a href="assets/img/portfolio/TalentAgent/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 5"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <!-- end talent agent -->

      <!-- event -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/event.JPG" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Event</h4>
          <p>Event</p>
          <a href="assets/img/portfolio/DSCF9399.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/DSC02180.JPG" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Event</h4>
          <p>Event</p>
          <a href="assets/img/portfolio/IMG_0156.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/DSC02165.JPG" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Event</h4>
          <p>Event</p>
          <a href="assets/img/portfolio/DSCF9399.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/CLEO.19.JPG" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Event</h4>
          <p>Event</p>
          <a href="assets/img/portfolio/CLEO 19.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 4"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/CLEO.21.JPG" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Event</h4>
          <p>Event</p>
          <a href="assets/img/portfolio/CLEO.21.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 5"><i class="bx bx-plus"></i></a>
          </a>
        </div>
      </div>
      <!-- end event -->
    </div>
  </div>
</section>

{% endblock %}