{% extends 'index.html' %}

{% load static %}

{% block home %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <img src="{% static 'img/logo_MUI.png'%}" alt="...">
        <div id="home-list"></div>
        <!-- <h1>Assalamualaikum <span>Kawan MUI</span></h1>
        <h2>Santun dalam dakwah, Erat dalam ukhuwah</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Tentang Kita</a>
            <a href="https://www.youtube.com/watch?v=DgWSmaejvtg" class="glightbox btn-watch-video"><i
                    class="bi bi-play-circle"></i><span>Sekilas MUI Batu</span></a>
        </div> -->
    </div>
</section><!-- End Hero -->
<script src="{% static 'js/api_home_user.js'%}"></script>
{% endblock %}
