{% extends 'index.html' %}

{% load static %}

{% block sejarah %}

  <!-- ======= Hero Section ======= -->
        <div class="section-title">
          <h3>Sejarah Tentang <span>MUI</span></h3>
          <div style='text-align:justify;padding:50px'>MUI berdiri dari musyawarah para ulama, cendekiawan dan zu’ama yang datang dari berbagai penjuru tanah air, 
            antara lain meliputi dua puluh enam orang ulama yang mewakili 26 Provinsi di Indonesia pada masa itu, 10 orang ulama yang merupakan 
            unsur dari ormas-ormas Islam tingkat pusat, yaitu, NU, Muhammadiyah, Syarikat Islam, Perti. Al Washliyah, Math’laul Anwar, GUPPI, 
            PTDI, DMI dan Al Ittihadiyyah, 4 orang ulama dari Dinas Rohani Islam, Angkatan Darat, Angkatan Udara, Angkatan Laut dan POLRI serta 13 orang 
            tokoh/cendekiawan yang merupakan tokoh perorangan. Hasil dari musyawarah tersebut adalah sebuah kesepakatan untuk membentuk wadah 
            tempat bermusyawarahnya para ulama. zuama dan cendekiawan muslim, yang tertuang dalam “Piagam Berdirinya MUI,” yang ditandatangani oleh 
            seluruh peserta musyawarah yang kemudian disebut Musyawarah Nasional Ulama I.
          </div>
        </div>

        

    <div class="container py-4">
      <div class="copyright">
        
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Kelompok 8</a>
      </div>
    </div>
  </footer><!-- End Footer -->

{% endblock %}